body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#banner-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.homeContainer {
  margin: auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}

.aboutInventoryApp {
  margin: auto;
  font-size: 20px;
}

.home-header {
  font-size: 30px
}

#item-header {
  display: flex;
  justify-content: center;
  background: #515da2;
  opacity: 0.8;
  height: 7rem;
  padding: 1rem;
} 

#item-header img {
  height: 6rem;
  width: auto;
}

 #item-collection {
  margin: 2rem;
} 

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
} 

.item-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
} 

button {
  position: relative;
  background-color: #e04b52;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
} 

.buttonContainer {
  text-align: center;
  padding: 1rem;
}

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  background: #515da2;
  opacity: 0.8;
}